<!-- início do footer -->

<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3> Sobre Nós </h3>
            <p> A plataforma “Hyper Tech” foi desenvolvida por alunos de graduação do curso de
                Tecnologia em Análise e Desenvolvimento de Sistemas das Faculdades Integradas Simonsen,
                como parte integrante da avaliação da disciplina “Projeto” sob a orientação do professor Alexandre Borges, sendo eles:
                Gustavo Suisso , Thiago Soares e Gabriel Barbosa.</p>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>

        <div class="box">
            <h3>Contato</h3>
            <a href="#" class="links"> <i class="fas fa-phone"></i> +55 21975436330 </a>
            <a href="#" class="links"> <i class="fas fa-envelope"></i> hypertech@gmail.com </a>
            <a href="#" class="links"> <i class="fas fa-map-marker-alt"></i> Rua Ibitiúva, 151 - PM - RJ, 21715-400  </a>
        </div>

        <div class="box">
            <h3>Links Rápidos</h3>
            <a href="./index.html" class="links"> <i class="fas fa-arrow-right"></i> Home </a>
            <a href="#features" class="links"> <i class="fas fa-arrow-right"></i> Recursos </a>
            <a href="#products" class="links"> <i class="fas fa-arrow-right"></i> Produtos </a>
            <a href="#categories" class="links"> <i class="fas fa-arrow-right"></i> Categotias </a>
        </div>

    </div>

    <div class="credit"> Criado Por <span> Desenvolvedores Junior </span> | Todos os direitos reservados. </div>

</section>
<!--//FIM do footer -->