<!--AVALIAÇÃO-->
        <div id="sobre" class="block">
          <div class="container">
            <div class="row">
              <div
                class="col-md-6 align-self-center text-center order-md-1 order-2"
              >
                <%=image_tag "home/sobre.svg", class: "img-fluid" %>
              </div>
              <div
                class="col-md-6 align-self-center order-md-2 order-1 mb-md-0 mb-4"
              >
                <h2 class="title">Anuncie!</h2>
                <h4 class="subtitle">
                  Poste seu produto aqui com uma taxa baixíssima!
                </h4>
                        <p>
                Muita facilidade na hora de anunciar seu produto, basta ir na aba "Torne-se um Vendedor" e tornar-se um! Leia
                atentamente as regras para que não ocorram mal-entendidos!
                </p>
              </div>
            </div>
          </div>
        </div>
        <!--//AVALIAÇÃO-->