<!-- inicio do features -->

<section class="features" id="features">

    <h1 class="heading"><span>Recursos</span> </h1>

    <div class="box-container">

        <div class="box">
            <%= image_tag "home/corazon.jpeg", alt: "" %>
            <h3>Comentários simples</h3>
            <p>
            </p>
        </div>

        <div class="box">
            <%= image_tag "home/feature-img-3.png", alt: "" %>
            <h3>Pagamentos Simples</h3>
            <p>
            </p>
        </div>

    </div>

</section>

<!-- //FIM do features -->