<h1>Relatorio de usuarios cadastrados no site:</h1>

<table>
<tr>
<th>Nome:</th>
<th>   </th>
<th>Email:</th>
<th> </th>
<th>Funcao:</th>
</tr>
<% @users.each do |user| %>
<tr>
<td><h3><%= user.username %></h3></td>
<td>   </td>
<td><h3><%= user.email %></h3></td>
<td>   </td>
<td><h3><%= user.roles.first.name %></h3></td>
</tr>
<%end%>
</table>

