<h1>Pagamento Aceito</h1>



<p>
Pagamento Confirmado:</p>
<p>Obrigado pela sua compra, volte SEMPRE!</p>
<p>Seu produto será entregue dentro de 10 dias, após a confirmação do email que o Vendedor irá enviar para você.</p>
<p>Caso esteja com dúvidas ou tenha reclamações, segue o email para contato: hypertechad@gmail.com</p>
